body {
  font-family: "Prompt", sans-serif;
}
h1 {
  font-size: 40px;
}
.border {
  border-left: 5px solid darkorange;
  padding-left: 8px;
}
.blue {
  color: cornflowerblue;
}
.flexible-contianer {
  display: flex;
  padding: 50px;
}
.half-width {
  width: 50%;
}
.half-width img {
  width: 70%;
}
.link-button {
  text-decoration: none;
  background-color: orange;
  color: white;
  font-weight: 700;
  padding: 8px 20px;
  border-radius: 4px;
}
.mission-area {
  text-align: center;
}

.mission-contant img {
  width: 40%;
  padding-right: 70%;
}
.side {
  padding-right: 70%;
}
.mission-contant {
  border-radius: 10px;
}
#bag-color {
  background-color: bisque;
  margin-right: 15px;
}
#bag-color2 {
  background-color: burlywood;
  margin-right: 15px;
}
#bag-color3 {
  background-color: aquamarine;
  padding-bottom: 20px;
}
.dev-traning {
  background-image: url(img/shape/dream-bg.png);
  background-position: left;
  background-repeat: no-repeat;
}
.web-carrer {
  background-image: url(img/shape/shape-1.png);
  background-position: right 200px;
  background-repeat: no-repeat;
  background-size: 250px;
}

.contract {
  background-color: wheat;
  padding: 30px;
  width: 96%;
  height: 10%;
  text-align: center;
}

.fot {
  text-align: center;
  background-color: blueviolet;
}
.fot-design {
  text-align: center;
  background-color: violet;
  padding: 5px;
}
.g-font {
  font-family: "Lobster", cursive;
  font-size: 20px;
}
.fot-design p {
  font-size: 10px;
}
