body {
  font-family: "Prompt", sans-serif;
}
h1 {
  font-size: 40px;
}
.border {
  border-left: 5px solid darkorange;
  padding-left: 8px;
}
.blue {
  color: cornflowerblue;
}
section {
  display: flex;
  padding: 5%;
}
.half-width {
  width: 50%;
}
.half-width img {
  width: 70%;
}
.link-button {
  text-decoration: none;
  background-color: orange;
  color: white;
  font-weight: 700;
  padding: 8px 20px;
  border-radius: 4px;
}
